* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #cbccc7;

}

h2 {
    padding: 10px 0px;
}

.titulo {
    height: 50px;
    width: 200px;
    border: solid none 1px;
    line-height: 50px;
    margin: 30px auto;
    border-radius: 10px;
    background-color: beige;
}

.caja {
    height: 170px;
    width: 170px;
    border-radius: 10px;
    margin: 20px auto;
    background-color: beige;
}


@media (min-width: 430px) {
    
    .caja {
        height: 110px;
        width: 300px;
        border-radius: 10px;
        margin: 20px auto;
        background-color: beige;
    }
    
    .subtitulo {
        height: 100px;
        width: 120px;
        display: inline-block;
        vertical-align: top;
        line-height: 100px;
    }

    .image {
        height: 100px;
        width: 120px;
        display: inline-block;
        margin-top: 5px;
    }
    

}
